.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.container {
  padding: .5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}